@charset "UTF-8";

/*font*/
@font-face {
    font-family: 'dl';
    /*src: url('../fonts/DuolacL_W.eot');*/
    src: url('../fonts/DuolacL_W.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dm';
    /*src: url('../fonts/DuolacM_W.eot');*/
    src: url('../fonts/DuolacM_W.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, section, div, p, h1, h2, h3, h4, video { padding: 0; margin: 0;}
body {margin: 0 !important;}

/*스크롤바 숨기기*/
.none-scroll::-webkit-scrollbar {
  display: none;
}
.none-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contents { position: absolute; left : 50%; transform: translate(-50%, 0);}

.s1-content { left: 50%; top: 300px; transform: translate(-50%, 0)}
.s2-content { left: 50%; top: 30%; transform: translate(-50%, -30%)}
.s3-content { left: 50%; top: 30%; transform: translate(-50%, -30%)}

.contents .main-title {
    font-family: dl;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    color: rgb(25, 15, 117);
    margin-bottom: 20px;
}

.contents .s2-title {color: rgb(255, 255, 255);}

.contents .subtext {
    font-family: dl;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

.scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 33px;
    width: 38px;
    height: 32px;
    margin-left: -21px;
    z-index: 1;
}

.video-wrap { position: absolute; top: 0; left: 0; height: 100%; width: 100% }
.bg-video {position: absolute; width: 100%; height: 100%; left: 50%; transform: translateX(-50%); object-fit: cover;}

.section { height: 100vh !important; position: relative }
.section1 { background-color: rgba(136, 136, 136, 0.178)}
.section2 { background-color: rgba(150, 150, 150, 0.178)}
.section3 { background-color: rgb(130, 163, 255)}