@charset "UTF-8";

html, body, section, div, p, h1, h2, h3, h4 { padding: 0; margin: 0;}
body {margin: 0 !important; overflow: hidden;}
section { position: relative}
.contents { position: absolute; left : 50%; transform: translate(-50%, 0);}

.s1-content { left: 50%; top: 300px; transform: translate(-50%, 0)}
.s2-content { left: 50%; top: 30%; transform: translate(-50%, -30%)}

.contents .main-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: rgb(14, 0, 141);
    margin-bottom: 20px;
}
.contents .subtext {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

.section { height: 100vh; }
.section1 { background-color: rgba(137, 164, 255, 0.342)}
.section2 { background-color: rgba(255, 137, 137, 0.342)}
.section3 { background-color: rgb(214, 255, 224)}